* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*overflow: scroll; /* genera el scroll solo en el eje necesario */
}

body {
    width: 100%;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dfedd6;
    /*text-align: center;*/
    font-family: "Source Sans 3", sans-serif;
    color: #274e2e;
    overflow: scroll;
}

main .grid {
    display: grid;
    grid-template-columns: 100%;
    /*grid-template-rows: 70px 400px 400px;*/
}



/* ******************* CABECERA ********************************/
.cabecera {

    border-bottom: solid 1px rgba(0, 0, 0, 0.233);
    display: grid;
    grid-template-columns: 150px 3fr;
    align-items: center;
    position: sticky;

}

.cabecera img {
    padding: 5px;
    width: 100%;
}

/*****  CONTENEDOR DEL MENU *****/
nav.navbar ul {
    display: flex;
    justify-content: flex-end;
}

/***** ELEMENTOS DE LA LISTA DEL MENU *******/
.navbar ul li {
    padding: 10px;
    /* espacio entre el contenido y el borde de la caja*/
    list-style: none;
    display: inline;
    margin-right: 5px;
}

/* ****** TEXTO DEL MENU ******** */
.navbar ul li a {
    color: #385723;
    font-weight: bold;
    text-decoration: none;
    font-size: 14px;
}

/* ********************** BANER ****************************/
.baner {
    height: 350px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.233);
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

h1 {
    display: inline-block;
    width: 200px;
    font-weight: bold;
    font-size: 32px;
    line-height: 1.2;
}

.derecha {
    display: flex;
    justify-content: center;
}

/* imagen de baner*/
.derecha img {
    width: 400px;
}

.izquierda {
    padding-left: 40px;
    font-weight: 500px;
    font-size: 16px;
}

.izquierda input {
    height: 35px;
    width: 130px;
    background-color: #274e2eff;
    border: none;
    border-radius: 15px;
    margin-top: 20px;
    background-image: url(../media/icono_lupa.png);
    background-position: 10%;
    /* posicion de la imagen-logo */
    background-size: 20%;
    /*100px; /* tamaño de la imagen-logo */
    background-repeat: no-repeat;
    font-family: "Source Sans 3", sans-serif;
    font-size: 18px;

}

.izquierda input::placeholder {
    color: #fefce0;
    ;
    padding-left: 45px;
}

/*  **************** SECCION BENEFICIOS ***************/
section.beneficios {
    padding: 20px;
    background-color: #fefce0;
    min-height: 320px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
    column-gap: 20px;
    justify-items: center;
    align-items: center;
}

section.beneficios .bloque {
    display: flex;
    justify-self: space-evenly;
}

.bullet {
    padding-left: 10px;
    font-weight: bold;
    font-size: 20px;
    max-width: 250px;
}

.destacado2 {
    opacity: 80%;
    color: #202123;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.42;
    text-align: left;
}

section.beneficios .bloque img {
    height: 50px;
}


/* ************ PROPAGANDA ********************** */

.propaganda {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
    margin: 20px;
}

.propaganda div {
    display: flex;
}

.propaganda div .bullet {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.propaganda div img {
    height: 250px;
    padding: 30px;
    /*background-color: aquamarine;*/

}