/* reset navegador  o selector universal*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Estilos generales */
:root {
  --color-principal: #274e2e;
  --color-secundario: #dfedd6;
  --color-contraste: #fefce0;
  --font-family-texto: "Source Sans 3", sans-serif;
  --font-size-texto-titulo: 40px;
  --font-size-texto-titulosecundario: 26px;
  --font-size-texto-secundario: 14px;
}

main.container-fluid {
  padding: 0px;
}

/*************** BODY ********************/
body {
  background-color: var(--color-secundario);
  font-family: var(--font-family-texto);
  color: var(--color-principal);
  width: 100vw;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* ******************* CABECERA ********************************/
.cabecera {
  display: grid;
  grid-template-columns: 150px 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: "logo menu_ppal";
  border-bottom: solid 1px rgba(0, 0, 0, 0.233);
  align-items: center;
}
.cabecera img {
  grid-area: logo;
  margin-top: 5px;
  margin-left: 15px;
  width: 100%;
  border-radius: 10px;
}

/*****  CONTENEDOR DEL MENU *****/
nav ul {
  grid-area: menu_ppal;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  list-style: none;
  margin: 0px;
}
nav ul li {
  /*display: inline-block;*/
  padding: 10px;
}
nav ul li a {
  text-decoration: none;
  color: var(--color-principal);
  font-weight: bold;
}
nav ul li:hover {
  background-color: var(--color-contraste);
  border-radius: 15px;
}

/* check menu */
#checkbox-menu, label.menu, .liston, .titulo_mobile, .boton_mobile {
  display: none;
}

/* ******** SECCION BANER ******** */
.baner {
  height: 350px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: solid 1px rgba(0, 0, 0, 0.233);
  padding: 0px 15px 0px 15px;
}
.baner .izquierda {
  /*width: 50%;*/
  display: inline-block;
  font-size: var(--font-size-texto-secundario);
}
.baner .izquierda input::placeholder {
  color: var(--color-contraste);
  padding-left: 45px;
}
.baner .derecha {
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.baner .derecha img {
  max-height: 80%;
  max-width: 90%;
}

h1 {
  padding: 15px 15px 0px 15px;
  font-family: var(--font-family-texto);
  font-size: var(--font-size-texto-titulo);
  font-weight: bold;
}

title {
  font-family: var(--font-family-texto);
  font-size: var(--font-size-texto-titulo);
  font-weight: bold;
}

.botonexplorar {
  height: 35px;
  width: 120px;
  border: none;
  background-color: var(--color-principal);
  border-radius: 15px;
  margin-top: 20px;
  background-image: url(../media/icono_lupa.png);
  background-position: 10%;
  background-size: 20%;
  background-repeat: no-repeat;
}

/* ****** SECCION BENEFICIOS ******** */
section.beneficios {
  padding: 15px;
  background-color: var(--color-contraste);
  min-height: 320px;
  border-bottom: solid 1px rgba(0, 0, 0, 0.233);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  row-gap: 20px;
  column-gap: 20x;
  justify-items: center;
  align-items: center;
}
section.beneficios .bloque {
  display: flex;
  justify-self: space-evenly;
}
section.beneficios .bloque img {
  height: 50px;
}

.bullet {
  font-size: var(--font-size-texto-titulosecundario);
  font-weight: bold;
  padding-left: 20px;
  max-width: 300px;
}

.destacado {
  font-size: var(--font-size-texto-secundario);
  font-weight: 400;
  max-width: 800px;
}

/* ************ PROPAGANDA ********************** */
section.propaganda {
  margin-left: 100px;
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  column-gap: 50px;
}
section.propaganda img.item_propaganda {
  max-height: 90%;
  max-width: 100%;
  justify-self: right;
}

/* ************ COMENTARIOS ********************** */
section.likes, .donaciones, .contacto, footer {
  padding: 40px 10px;
  text-align: center;
  border-bottom: solid 1px rgba(0, 0, 0, 0.233);
  margin-top: auto;
}
section.likes p, .donaciones p, .contacto p, footer p {
  max-width: 800px;
  display: inline-block;
}
section.likes ul, .donaciones ul, .contacto ul, footer ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
}
section.likes ul li img, .donaciones ul li img, .contacto ul li img, footer ul li img {
  max-width: 300px;
  padding: 5px 0px;
}

/* ************ DONACIONES ********************** */
section.donaciones {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.donaciones-page {
  background-color: var(--color-secundario);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  padding: 20px 10px;
}

/* ************ CONTACTO ********************** */
.form_contenedor {
  border-radius: 5px;
  background-color: var(--color-contraste);
  padding: 20px;
  margin-bottom: 10px;
}

.contacto {
  border-bottom: none;
}

input[type=text], input[type=email], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.boton_enviar {
  background-color: var(--color-principal);
  color: var(--color-contraste);
  border: none;
}

/* ************ footer ********************** */
.footer_mine2 {
  padding-top: 20px;
  background-color: white;
  border-top: solid 1px rgba(0, 0, 0, 0.233);
}
.footer_mine2 .fa-brands {
  padding-left: 10px;
}

/*****  CONTENEDOR DEL MENU INFERIOR *****/
.social {
  display: flex;
  justify-content: center;
  padding: 10px 0px 10px 0px;
}

.author {
  display: flex;
  justify-content: center;
  align-content: center;
  border-top: var(--color-secundario) solid 2px;
  padding-top: 10px;
  margin-top: 20px;
}
.author p {
  display: flex;
  justify-content: center;
  margin: auto;
}

/* ******** MEDIA QUERIES ******** */
@media screen and (max-width: 650px) {
  .cabecera {
    background-color: #a4c48d;
    display: flex;
    flex-direction: column-reverse;
    flex-direction: flex-start;
    border-bottom: solid 1px rgba(0, 0, 0, 0.233);
    margin: 0px;
    padding: 0px;
  }
  .cabecera img {
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    border-radius: 0px;
  }
  /*****  CONTENEDOR DEL MENU *****/
  nav.menu_ppal {
    margin: 10px;
    display: flex;
    justify-content: space-between;
  }
  nav.menu_ppal ul {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    list-style: none;
    position: absolute;
    background-color: white;
    border: 1px solid var(--color-principal);
    border-radius: 2px;
    margin: 0px;
    padding: 0px;
  }
  nav.menu_ppal #checkbox-menu:checked ~ ul {
    display: block;
  }
  /* check menu */
  label.menu {
    display: flex;
    justify-content: left;
    margin: 0px;
    align-items: center;
    width: 50px;
    color: var(--color-contraste);
  }
  .boton_mobile {
    display: flex;
    justify-content: flex-end;
    border: solid 1px var(--color-principal);
    border-radius: 5px;
  }
  .boton_explorar {
    background-color: #a4c48d;
    color: var(--color-contraste);
  }
  .titulo_mobile {
    display: flex;
    margin: 0px;
    padding-left: 15px;
    line-height: 1.3;
    font-size: var(--font-size-texto-titulosecundario);
    font-weight: 100;
    color: var(--color-contraste);
  }
  section.propaganda {
    margin: auto;
    padding: 20px 10px 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: solid 1px rgba(0, 0, 0, 0.233);
  }
  section.propaganda .item_propaganda {
    padding: 15px 0px;
  }
}

/*# sourceMappingURL=style.css.map */
